@import "content"

color-p = #37474f
color-p-light = #62727b
color-p-dark = #102027
color-s = #0277bd
color-s-light = #58a5f0
color-s-dark = #004c8c

molytabmenu(
  rgb(240, 240, 240),
  gray,
  rgb(41, 42, 45),
  rgb(50, 50, 50),
  gray,
  white,
  color-s-dark,
  color-s-light,
  rgb(32, 33, 35)
)
