border-radius = 8px
font-size = 14px

#molytabmenu
  all: initial
  position: fixed
  z-index: 2147483647
  width: 0
  height: 0
  pointer-events: none
  background-color: rgba(0, 0, 0, 0)

  --color: rgba(0, 0, 0, 0.87)
  --bg-color: white
  --border-color: gray
  --line-color: rgba(0, 0, 0, 0.87)
  --highlighted-line-color: rgba(0, 255, 255, 0.87)
  --search-bg-color: rgba(0, 0, 0, 0.13)

#molytabmenu-app
  .container
    position: fixed
    z-index: 2147483647
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    top: 0
    padding: 8px 10px
    width: 400px
    background-color: var(--bg-color)
    border: 1px solid var(--border-color)
    border-radius: border-radius
    pointer-events: auto

    color: var(--color)
    font-size: font-size

  .top
    display: flex
    flex-flow: row nowrap
    align-items: center
    height: 28px
    margin-bottom: 4px

    .search
      margin-right: 10px

  .label
    font-size: font-size - 2px
    color: gray

  .search
    box-sizing: border-box
    flex-grow: 1
    display inline-flex
    cursor: text

    input
      flex-grow: 1
      color: var(--color)
      padding: 6px 10px
      height: font-size
      border: 0
      border-radius: border-radius
      box-sizing: content-box
      background-color: var(--search-bg-color)
      font-size: font-size
      line-height: font-size

      &:focus
        outline: 0

  .category
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    margin-bottom: 8px

    .panel
      width: 32.5%
      height: 28px
      line-height: 28px
      font-size: font-size
      text-align: center
      border-bottom: 1px solid var(--line-color)
      cursor: pointer

      &.activated
        cursor: default
        border-bottom: 1px solid var(--highlighted-line-color)

  .select
    display: inline
    margin-left: 8px

    select
      font-size: font-size
      color: var(--color)
      cursor: pointer
      user-select: none
      box-sizing: content-box
      padding: 4px 0 2px
      border: 0
      border-bottom: 1px solid var(--line-color)
      border-radius: 0
      width: 100px
      height: font-size
      background: none
      -webkit-appearance: none
      -moz-appearance: none

    svg
      color: var(--color)
      transform: translate(-14px, 0.4em)
      position: absolute
      pointer-events: none

      width: 1em
      height: 1em
      display: inline-block
      user-select: none

  .tabs
    .tab
      cursor: pointer
      &.selected
        background-color: yellow
    .favicon
      width: 16px
      height: 16px
