@import "content"

color-p = #37474f
color-p-light = #62727b
color-p-dark = #102027
color-s = #0277bd
color-s-light = #58a5f0
color-s-dark = #004c8c

molytabmenu(
  rgba(0, 0, 0, 0.87),
  gray,
  white,
  gray,
  gray,
  white,
  color-s-dark,
  color-s-light,
  rgba(0, 0, 0, 0.13)
)
